<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href="../static/template.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Noto+Sans&family=Rasa:wght@500&family=Rubik&display=swap" rel="stylesheet">
    <title>Depression management</title>
</head>
<body>
    <div class="wrapper">
        <header>Depression management</header>
    </div>
    <div class="container">
        <div class="tab">
            <button>user1</button>
            <button>
                <a href="{{url_for('home')}}">Depression State</a>
            </button>
            <button>
                <a href="{{url_for('relation')}}">Relation</a>
            </button>
            <button>
                <a href="{{url_for('compare')}}">Compare</a>
            </button>
            <button>
                <a href="{{url_for('recommendation')}}">Recommendation</a>
            </button>
        </div>

        <div class="content">
            <div class="chart_menu">
                aa
                <p>
                    {% if flag == 'relation' %}
                        {% for i in range(1,10) %}
                            <p>{{2}} x {{i}} = {{2*i}}</p>
                        {% endfor %}
                    {% elif flag == 'compare' %}
                        {% for i in range(1,10) %}
                            <p>{{3}} x {{i}} = {{3*i}}</p>
                        {% endfor %}
                    {% elif flag == 'recommendation' %}
                        {% for i in range(1,10) %}
                            <p>{{4}} x {{i}} = {{4*i}}</p>
                        {% endfor %}
                    {% elif flag == None %}
                        {% for i in range(1,10) %}
                            <p>{{5}} x {{i}} = {{5*i}}</p>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</body>
</html>